html, body {
  overflow-x: hidden;
}

body {
  height: 100vh;
  position: relative;
  background-image: url("iOS Wallpaper.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#lock-time {
  color: white;
  font-size: 500%;
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 0px
}

#lock-date {
  color: white;
  margin: 1px;
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
}

#lock-text {
  color: white;
  font-size: 17px;
  text-align: center;
  font-family: sans-serif;
  padding-top: 61vh;
}


#lock-icon {
  border-radius: 20%;
  background-color: white;
  object-fit: cover;
}

#note-icon {
  border-radius: 20%;
  background-color: white;
  object-fit: cover;
}

#safari-icon {
  border-radius: 20%;
  background-color: white;
  object-fit: cover;
}

.icon {
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  width: 60px;
  height: 60px;
}

#google {
  width: 100vw;
  height: 100vh;
  border: 0px;
  background-color: transparent;
  position: relative;
  margin-bottom: 20%;
}